.navbar{
    height: 50px;
    border-bottom: 1px solid #fff;
    background-color: #4081d6;
    .navbar-brand{
      font-family: 'Aclonica';
      font-size: 22px;
    }
    .user-data{
      width: 100%;
      a:hover{
        background-color: #4081d6;
        color: #fff;
      }
    }
  }
